<style>
    body {
      background-image: url(https://img4.goodfon.com/wallpaper/nbig/2/ce/igra-mega-man-x-mega-man-retro-igra-retro-pikseli-pxl-nebo-n.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #050505;
      color: white
    }
    </style>
  
  <!-- Toolbar -->
  <body style="padding-bottom: 10px;">
    
        <nav class="navbar navbar-expand-lg navbar-success bg-dark">
          <b class="navbar-brand text-success f2" href="#">Retro-Hub</b>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="navbar-brand text-success f2" routerLink="/admon">Administracion</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link f3" style="font-size: 18px;" href="#">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link f3" style="font-size: 18px;" routerLink="/logout">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </nav>
      
      <div  class="text-center">
        <img src="./assets/logo.png" class="rounded p-5 rounded-circle">
        <legend class="p-2">Editar Juego</legend>
      </div >

      <div class="container">
        <div class="row">

          <div class=" container col-lg-5 bg-dark w-25 p-5 h-75" style="margin-bottom: 100px;">
            <form action="">
                  <div class="form-group">
                  <a>Nombre</a>  
                  <input type="text" name="nombre" [(ngModel)]="game.Nombre" class="form-control"  placeholder="Nombre">
                  </div>
                  <div class="form-group">
                  <a>Descripcion</a>  
                  <textarea type="text" name="descripcion" [(ngModel)]="game.descripcion"class="form-control" rows="10" placeholder="Descripcion"></textarea>
                  </div>
                  
                  <div class="form-group"> 
                    <a>Cartucho</a>   
                    <input type="text" name="cartucho" [(ngModel)]="game.cartucho"class="form-control"  placeholder="link del cartucho">
                    </div>
                  <div class="form-group"> 
                  <a>Fecha de Publicacion:</a>   
                  <input type="text" name="fecha" [(ngModel)]="game.Fecha" class="form-control"  placeholder="Fecha Publicacion">
                  </div>
                  <div class="form-group">
                  <a>Consola</a>  
                  <input type="number" name="idConsola" [(ngModel)]="game.Consola_idConsola"class="form-control"  placeholder="Id de la consola">
                  </div>
                  <div class="alert alert-dismissible alert-warning text-center" *ngIf="resp.mensaje != ''">
                    {{resp.mensaje}}
                  </div>
                  <button class="btn btn-outline-success btn-block text-center" (click)="edit ? updateGame() : saveNewGame()">Guardar</button>
                  
              </form>  
          </div>

          <div class="col-sm">

          </div>
          <div class="col-lg-5 h-75">
          <div class="card card-body text-center">
            <img [src]="game.cartucho == '' ? '/assets/noimage.png' : game.cartucho" alt="No Image" class="card-img-top">
              <h3>{{game.idJuego}}. {{game.Nombre == '' ? 'Game Title' : game.Nombre}}</h3>
              <p>{{game.descripcion == '' ? 'Write your Descrition' : game.descripcion}}</p>
              <p>{{game.Fecha | date: 'yyyy-MM-dd'}}</p>
            </div>
          </div>
        </div>
      </div>
    </body>
