<style>
    body {
      background-image: url(https://img4.goodfon.com/wallpaper/nbig/2/ce/igra-mega-man-x-mega-man-retro-igra-retro-pikseli-pxl-nebo-n.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #050505;
      color: white
    }
    </style>
  
  <!-- Toolbar -->
  <body style="padding-bottom: 100px;">
    <nav class="navbar navbar-expand-lg navbar-success bg-dark">
        <b class="navbar-brand text-success" href="#">Retro-Hub</b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/login" href="#">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Juegos</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="text-center">
        <img src="./assets/logo.png" class="rounded p-5 rounded-circle">
        
      </div>
      <div class="container bg-dark w-25 p-5" style="margin-bottom: 250px;">
        <form action="">
          <legend class="text-center">Registrarse</legend>
              <div class="form-group">
              <a>Nombre de Usuario:</a>  
              <input type="text" name="usuario" [(ngModel)]="registro.usuario"class="form-control"  placeholder="Ingrese usuario">
              </div>
              <div class="form-group">
              <a>Nombres:</a>  
              <input type="text" name="nombres" [(ngModel)]="registro.nombres"class="form-control"  placeholder="Ingrese sus nombres">
              </div>
              <div class="form-group">
              <a>Apellidos:</a>  
              <input type="text" name="apellidos" [(ngModel)]="registro.apellidos"class="form-control"  placeholder="Ingrese sus apellidos">
              </div>
              <div class="form-group">
              <a>Fecha de Nacimiento:</a>  
              <input type="date" name="fechaNac" [(ngModel)]="registro.fechaNac"class="form-control"  placeholder="">
              </div>
              <div class="form-group"> 
              <a>Contraseña:</a>   
              <input type="password" name="contrasenia" [(ngModel)]="registro.contrasenia"class="form-control"  placeholder="Ingrese su contraseña">
              </div>
              <div class="form-group">
              <a>Biografia:</a>  
              <input type="text" name="biografia" [(ngModel)]="registro.biografia"class="form-control"  placeholder="Ingrese una breve biografia">
              </div>
              
              <button class="btn btn-outline-success btn-block text-center" (click)="registrarUsuario()">Crear Cuenta</button>
              
          </form>
          
          
      </div>
      
    </body>
